<div class="container text-center">
</div>
<div class="row justify-content-center">
  <div class="col-12 mt-4">
    <h1 class="display-6 mt-2">You are traveling to a new destination. <span class="text-danger">It is exciting and
        maybe a little intimidating at the same time. </span> </h1>
    <p class="text-muted"> We have provided a way to connect with people nearby, while also exploring new experiences.
    </p>
  </div>
</div>

<hr class="featurette-divider">

<div class="container marketing">
  <div class="row mt-4 pt-3 text-center">
    <div class="col-lg-4 text-center">
      <img src="/img/adventure.jpeg" alt="" width="140" height="140" class="img-about rounded-circle p-2">
      <h4>Adventure</h4>
      <p class="text-muted small"> ADD text</p>
    </div>
    <div class="col-lg-4">
      <img src="/img/01sports.jpeg" alt="" width="140" height="140" class="img-about rounded-circle p-2">
      <h4>Sports</h4>
      <p class="text-muted small">Sports friends is something like a time capsule of the local multiplayer games that my
        friends and I were making and playing in and around.</p>
    </div>
    <div class="col-lg-4">
      <img src="/img/02ramen.jpeg" alt="" width="140" height="140" class="img-about rounded-circle p-2">
      <h4>Food</h4>
      <p class="text-muted small">With chef Local, fanatic Joey and most meetings taking place. </p>
    </div>
  </div>
  <div class="row mt-4 pt-3 text-center">
    <div class="col-lg-4">
      <img src="/img/03arts.jpeg" alt="" width="140" height="140" class="img-about rounded-circle p-2">
      <h4>Arts and Museum</h4>
      <p class="text-muted small">Museum Friends is an add-on membership that allows members the opportunity to deepen
        their museum
        involvement and broaden their intellectual horizons.</p>
    </div>
    <div class="col-lg-4">
      <img src="/img/06history.jpeg" alt="" width="140" height="140" class="img-about rounded-circle p-2">
      <h4>History</h4>
      <p class="text-muted small"> ADD text </p>
    </div>
    <div class="col-lg-4">
      <img src="/img/05wellness.jpg" alt="" width="140" height="140" class="img-about rounded-circle p-2">
      <h4>Wellness</h4>
      <p class="text-muted small">Showaround is a marketplace for tours with locals who are ready to show you the best
        their
        cities have to offer and tailor activities to your interests. Friends also play a significant role in promoting
        your overall health.</p>
    </div>
  </div>
</div>