<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}


@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}
</style>
</head>
<body>

<div class="about-section">
  <h1>About Us</h1>
<<<<<<< HEAD
  <p>Find a friend locally. You can be a tennis partner. Aren't you curious where the famous food is hidden? </p>
  <p>Get help from your new friend to find out what's the secret to being healthy in this low place.</p>
</div>

<h2 style="text-align:center">Meeting a friend in a low place...</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="./.img/01wellness.jpeg" alt="sportsandfood" style="width:100%">
      <div class="container">
        <h2>SPORTS AND FOOD</h2>
        <p class="title">Sports and Food</p>
        <p>Sportsfriends is something like a time capsule of the local multiplayer games that new friends and you were making and playing in and around ...</p>
=======
  <p>you made it!</p>
  <p>You’ve just moved to a new city or town. It’s exciting and maybe a little intimidating at the same time. Aside from
    locating nearby you, you’re probably wondering about the best ways to meet new friends!</p>
</div>

<h2 style="text-align:center">Our User</h2>
<div class="row">
  <div class="row">

    <div class="column">
      <div class="card">
        <img src="/img/01sports.jpeg" alt="sports" style="width:100%">
        <div class="container">
          <h2>SPORTS</h2>
          <p class="title">the best ways to meet new sports friends!</p>
          <p>Sportsfriends is something like a time capsule of the local multiplayer games that my friends and I were
            making and playing in and around ...</p>
        </div>
>>>>>>> 772a6aa0c82f06b73f3bf3347b8cae283d0a9660
      </div>
    </div>
  </div>

<<<<<<< HEAD
  <div class="column">
    <div class="card">
      <img src="./.img/02food.jpg" alt="sportsandfood" style="width:100%">
      <div class="container">
        <h2>ARTS AND HISTORY</h2>
        <p class="title">Arts and History</p>
        <p>There are lots of ways to get involved with Forest Grove history!</p>
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <img src="./.img/03nightlife.jpeg" alt="wellnessandnightlife" style="width:100%">
      <div class="container">
        <h2>WELLNESS AND NIGHTLIFE</h2>
        <p class="title">Wellless and NIghtlife</p>
        <p>If your friends don't like to stay at one place, check out areas with many bars and clubs grouped together.</p>
      </div>
    </div>
  </div>
</div>

</body>
</html>
=======
    <div class="column">
      <div class="card">
        <img src="/img/02food.jpg" alt="food" tyle="width:100%">
        <div class="container">
          <h2>FOOD</h2>
          <p class="title">Best dinner with friends in local</p>
          <p>With chef Local, fanatic Joey and most meetings taking place ... </p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img src="/img/03artsandmuseum.jpg" alt="arts and museum" style="width:100%">
        <div class="container">
          <h2>ARTS AND MUSEUM</h2>
          <p class="title">Meet arts buddies nearby anytime</p>
          <p>Museum Friends is an add-on membership that allows members the opportunity to deepen their museum
            involvement and broaden their horizons with a ...
          </p>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="column">
        <div class="card">
          <img src="/img/04history.jpeg" alt="history" style="width:100%">
          <div class="container">
            <h2>HISTORY</h2>
            <p class="title">you’ve just moved to a new city or town. It’s exciting and maybe a little intimidating at
              the same time. Aside from locating nearby you, you’re probably wondering about the best ways to meet new
              friends!</p>
            <p>There are lots of ways to get involved with Forest Grove history!</p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <img src="/img/05wellness.jpeg" alt="wellness" style="width:100%">
          <div class="container">
            <h2>WELLNESS</h2>
            <p class="title">Showaround is a marketplace for tours with locals who are ready to show you the best their
              cities have to offer and tailor activities to your interests.</p>
            <p>Friends also play a significant role in promoting your overall health.</p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <img src="/img/06nightlife.jpeg" alt="nightlife" style="width:100%">
          <div class="container">
            <h2>NIGHTLIFE</h2>
            <p class="title">Buying Friends For An Evening</p>
            <p>If your friends don't like to stay at one place, check out areas with many bars and clubs grouped
              together.</p>
          </div>
        </div>
      </div>

    </div>
>>>>>>> 772a6aa0c82f06b73f3bf3347b8cae283d0a9660
