<div class="container text-center">
</div>
<div class="row justify-content-center">
  <div class="col-12 mt-4">
    <h1 class="display-6 mt-2">You are traveling to a new destination. <span class="text-danger">It is exciting and
        maybe a little intimidating at the same time. </span> </h1>
    <p class="text-muted"> We have provided a way to connect with people nearby, while also exploring new experiences.
    </p>
  </div>
</div>

<hr class="featurette-divider">

<div class="container marketing">
  <div class="row mt-4 pt-3 text-center">
    <div class="col-lg-4 text-center">
      <img src="/img/adventure.jpeg" alt="" width="140" height="140" class="img-about rounded-circle p-2">
      <h4>Adventure</h4>
      <p class="text-muted small">Adventure experiences are typically bold and sometimes risky. These are activities that have some potential for physical danger. Examples include: skydiving, mountain climbing, scuba diving, river rafting or participating in extreme sports.</p>
    </div>
    <div class="col-lg-4">
      <img src="/img/01sports.jpeg" alt="" width="140" height="140" class="img-about rounded-circle p-2">
      <h4>Sports</h4>
      <p class="text-muted small">Sports experiences are sporting events in the local area or sports that you play yourself with other people. Like a time capsule of the local multiplayer games that my friends and I were making and playing in and around.</p>
    </div>
    <div class="col-lg-4">
      <img src="/img/02ramen.jpeg" alt="" width="140" height="140" class="img-about rounded-circle p-2">
      <h4>Food and Drinks</h4>
      <p class="text-muted small">Food and drinks experiences are where you dine out in local restaurants or pack food to eat outside where most meetings taking place.</p>
    </div>
  </div>
  <div class="row mt-4 pt-3 text-center">
    <div class="col-lg-4">
      <img src="/img/03arts.jpeg" alt="" width="140" height="140" class="img-about rounded-circle p-2">
      <h4>Arts and Museum</h4>
      <p class="text-muted small">Arts and museums experiences provide the opportunity to deepen their museum involvement and broaden their intellectual horizons in the arts.</p>
    </div>
    <div class="col-lg-4">
      <img src="/img/06history.jpeg" alt="" width="140" height="140" class="img-about rounded-circle p-2">
      <h4>History</h4>
      <p class="text-muted small">History experiences explore history and archaeology from the ancient world to the modern era.</p>
    </div>
    <div class="col-lg-4">
      <img src="/img/05wellness.jpg" alt="" width="140" height="140" class="img-about rounded-circle p-2">
      <h4>Wellness</h4>
      <p class="text-muted small">Wellness experiences are tours with locals who are ready to show you the best their cities have to offer and tailor activities to your interests Friends also play a significant role in promoting your overall health.</p>
    </div>
  </div>
</div>