<div class="row">

  <div class="col-auto">
    <h2>Create your profile, {{first_name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">

    <form>
      <div class="mb-3">
        <label for="first-name" class="form-label">First name</label>
        <input class="form-control" id="first-name">
      </div>
      <div class="mb-3">
        <label for="last-name" class="form-label">Last name</label>
        <input class="form-control" id="last-name">
      </div>
      <div class="mb-3">
        <label for="age" class="form-label">Age</label>
        <input type="number" class="form-control" min="18" max="100" id="age">
      </div>
      <div class="mb-3">
        <label for="gender" class="form-label">Gender</label>
        <select class="form-select">
          <option value="male">Male</option>
          <option value="female">Female</option>
          <option value="other">Other</option>
        </select>
      </div>

      <div class="mb-3">
        <label for="country" class="form-label">Country</label>
        <select class="form-select">
          <option value="usa">USA</option>
          <option value="other">Other</option>
        </select>
      </div>

      <div class="mb-3">
        <label class="form-label">Interest</label>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault"> Sports </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault"> Adventure </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault"> Wellness </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault"> Nightlife </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault"> Food and Drinks </label>
        </div>
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text">Bio</span>
        <textarea class="form-control"></textarea>
      </div>


      <button type="submit" class="btn btn-primary">Submit</button>
    </form>



  </div>

  <script src="./js/profile.js"></script>