 
<img class="homeimg" src="/images/homephoto1.png">

{{!-- ADD MY OWN STUFF FOR THE WEBSITE!!! --}}
<div class="row">
  <div class="col-7 mt-5">
    <h1 class="display-6 mt-2">Escape your daily life and <span class="text-primary">join new experiences with new people</span></h1>
    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam et nulla tellus. Phasellus tincidunt diam eget fringilla semper. Nunc finibus.</p>
    <a href="/createProfile" class="btn btn-primary btn-lg">Sign up now!</a>

  </div>
  
</div>
  
