 <img class="homeimg image-fluid" src="/images/homephoto1.png">

<div class="row">
  <div class="col-7 mt-5">
    <h1 class="display-6 mt-2">Escape daily life and <span class="text-primary">   wandir the world.</span></h1>
    <p class="text-muted"> Partake in memorable experiences in new destinations while making friends along the journey.</p>
    <a href="/createProfile" class="btn btn-primary btn-lg">Sign up now!</a>
  </div>

</div>
  
