<div class="row justify-content-center">
  <div class="col-md-6 ">
    <h1 class="display-1">Login</h1>

    <form class="form login-form">
      <div class="form-group">
        <label for="email-login">email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">login</button>
      </div>
      <h4>Dont have an account? Signup</h4>
      <div class="form-group">
        <a href="/createProfile" class="btn btn-primary" id="createAccount">Create Account</a>
      </div>

      <div class="modal fade" id="failedLoginModal" tabindex="-1" role="dialog" aria-labelledby="failedLoginModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="failedLoginModalLabel">Login Failed</h5>
              <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Incorrect email or password, please try again.
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<script src="/js/login.js"></script>