

 <div class="container">
    <div class="card shadow-lg">
    <div class = "card-body">
        <div class="row">
			<div class="col-md-5 mx-auto">
			<div id="first">
				<div class="myform form ">
					 <div class="logo mb-3">
						 <div class="col-md-12 text-center">
							<h1>Login</h1>
						 </div>
					</div>
            <form action="" class="form login-form" method="post" name="login">
              <div class="form-group">
                <label for="email-login">Email address</label>
                <input type="form-input" name="email"  class="form-control" id="email-login" placeholder="Enter email">
              </div>
              <div class="form-group">
                <label for="password-login">Password</label>
                <input type="password" name="password" id="password-login"  class="form-control" placeholder="Enter Password">
              </div>
              <div class="col-md-12 text-center ">
                <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm">Login</button>
              </div>
              
              <div class="form-group">
                <p class="text-center">Don't have account? <a href="/createProfile" id="createAccount">Sign up here</a></p>
              </div>
           </form>
				</div>
			</div>

      </div> 

</div>
</div>
{{!-- <div class="row justify-content-center">
  <div class="col-md-6 ">
    <h1 class="display-1">Login</h1>

    <form class="form login-form">
      <div class="form-group">
        <label for="email-login">email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">login</button>
      </div>
      <h4>Dont have an account? Signup</h4>
      <div class="form-group">
        <a href="/createProfile" class="btn btn-primary" id="createAccount">Create Account</a>
      </div>
    </form>
  </div>
</div> --}}

<script src="/js/login.js"></script>