<main class="px-3">
    <h1>Reactivate Your Account</h1>
    <p class="lead">Your account is currently disabled. Click the button below to reactivate your account.</p>
    <p class="lead">
      <button class="btn btn-lg btn-primary fw-bold" id="reactivateAccountButton" data-id="{{id}}">Reactivate Account</button>
    </p>
</main>

<script src="/js/reactivateUser.js"></script>