<main class="px-3">
    <h1>Your next adventure awaits!</h1>
    <p class="lead">Create a new experience and begin meeting new people along the way.</p>
    <p class="lead">
      <a href="/createEvent" class="btn btn-lg btn-primary fw-bold">Start here</a>
    </p>
</main>
