body {
  margin: 1rem 15rem;
}

.homeimg {
  /* position:absolute; */
  width: 150%;
  /* right: 10rem;
  top: 4rem;
  z-index: -10000;
   */
   opacity: 90%;
}

.dashimg {
  width: 150%;
  opacity: 90%;
}

.navbar-brand {
  font-family: 'Crimson Text', serif;
  font-size: 30px;
}

.img-about{
  opacity: 80%;
}

a {
  color: #77C9D4;
}

.text-danger {
  color: #77C9D4 !important;
}
.text-primary {
  color: #57BC90 !important;
}

.btn {
  border: none;
}

.btn.btn-primary {
  background-color: #57BC90;
  color: #d9e9e8;
}

.btn.btn-primary:hover {
  background-color: #015249;
}

.btn.btn-danger {
  background-color: #77C9D4;
  color: #ffffff;
}

.btn.btn-danger:hover {
  background-color: #A5A5Af;
}


@media only screen 
and (min-device-width : 668px) 
and (max-device-width : 991.98px)  { 

  body {
    margin: 1rem 3rem!important;
  }
  .homeimg {
    width: 100%;
    padding-top: 4rem;
  }
  .navbar {
    margin-left: 10px;
  }
  .homepage {
    text-align: center;
    margin-top: -4rem;
  }
  .dashimg{
    width: 100%;
    padding-bottom: 30px;
  }
  .dashboard {
    text-align: center;
    margin-top: -4rem;
  }
}


@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) { 
  body {
    margin: 0!important;
  }
  .homeimg {
    width: 100%;
    padding-top: 4rem;
  }
  .navbar {
    margin-left: 10px;
  }
  .homepage {
    text-align: center;
    margin-top: -4rem;
  }
  .dashimg{
    width: 100%;
    padding-bottom: 30px;
  }
  .dashboard {
    text-align: center;
    margin-top: -4rem;
  }
 };

